<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular Handbook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="lib/jquery-ui.min.js"></script>
  <link href="lib/jquery.tocify.css" rel="stylesheet"></link>
  <script src="lib/jquery.tocify.js"></script>
  <script src="lib/prism.js"></script>
  <link rel="stylesheet" href="lib/prism.css"/>
  <link href="handbook.css" rel="stylesheet"></link>
  <link href="blueprint.css" rel="stylesheet"></link>

</head>
<body>

<div id="toc">
  <a href="index.html" class="index-link">Index</a>
</div>

<div class="main-column">
  <p><strong>AngularJS</strong></p>
<h1>Hello World</h1><pre><code class="language-html">&lt;html ng-app=&quot;appName&quot;&gt;
&lt;head&gt;
  &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-controller=&quot;MyCtrl&quot;&gt;
  {{ foo }}
&lt;/body&gt;
</code></pre>
<h1>Controller</h1><pre><code class="language-js">// app.js
var appName = angular.module(&#39;appName&#39;, []);

appName.controller(&#39;MyCtrl&#39;,
  [&#39;$scope&#39;,
    function($scope) {
      $scope.foo = &#39;Hello World&#39;;
      $scope.myFunction = function() {};
    }
  ]
);
</code></pre>
<h1>Directive</h1><pre><code class="language-html">&lt;!--  js/directives/firstDirective.html --&gt;
&lt;p&gt;My first directive&lt;/p&gt;
</code></pre>
<pre><code class="language-js">// directives/firstDirective.js
appName.directive(&#39;firstDirective&#39;, function(){
  return {
    templateUrl: &quot;/js/directives/firstDirective.html&quot;,
    restrict: &quot;E&quot;,
    scope: {},
    link: function(scope, element, attrs) {
      // optional callback fired immediately after element creation
    }
  };
});
</code></pre>
<p>If you set <code>restrict: &quot;E&quot;</code>, the directive will be an Element, like this: <code>&lt;first-directive&gt;&lt;/first-directive&gt;</code></p>
<p>If you set <code>restrict: &quot;A&quot;</code>, the directive will be an Attribute, like this: <code>&lt;a first-directive&gt;</code>.</p>
<h2>Scope variables</h2><p>The directive is created with an <strong>isolate scope</strong>--it does not inherit anything in the nearby controller&#39;s scope. If necessary you can override this by having <code>scope</code> return <code>true</code> instead of an object.</p>
<pre><code class="language-js">scope: {
  twoWayBoundVar: &#39;=&#39;,
  passedInOnceVar: &#39;@&#39;,
  oneWayBoundVar: &#39;&amp;&#39;, // commonly used for functions
}
</code></pre>
<pre><code class="language-html">&lt;first-directive two-way-bound-var=&quot;foo&quot;
                 passed-in-once-var=&quot;{{ bar }}&quot;
                 one-way-bound-var=&quot;someFunction()&quot;&gt;
&lt;/first-directive&gt;
</code></pre>
<ul>
<li>Two-way-bound variables (=) are passed a reference and are watched in the digest loop.</li>
<li>One-way-bound variables (&amp;, @) are passed a value and are not updated thereafter.</li>
</ul>
<h2>Passing objects into a repeating directive</h2><pre><code class="language-js">// javascripts/directives/puppy.js
pupShelter.directive(&#39;puppy&#39;, function() {
  return {
    templateUrl: &quot;/javascripts/directives/puppy.html&quot;,
    restrict: &quot;E&quot;,
    scope: {
      puppy: &#39;=&#39;, // objects need two-way binding
    }
  };
});
</code></pre>
<pre><code class="language-html">&lt;!-- javascripts/directives/puppy.html --&gt;
&lt;li&gt;{{ puppy.name }} ({{ puppy.breed.name }})&lt;/li&gt;
</code></pre>
<pre><code class="language-html">&lt;puppy ng-repeat=&quot;puppy in puppies&quot; puppy=&quot;puppy&quot;&gt;&lt;/puppy&gt;
</code></pre>
<h2>Passing values into functions in a directive</h2><pre><code class="language-js">// js/directives/myDirective.js
appName.directive(&#39;myDirective&#39;, function() {
  return {
    ...
    scope: {
      directiveFunction: &#39;&amp;&#39;
    }
  }
})
</code></pre>
<pre><code class="language-html">&lt;!-- js/directives/myDirective.html --&gt;
&lt;p ng-click=&quot;directiveFunction({param: variable})&quot;&gt;&lt;/p&gt;
</code></pre>
<pre><code class="language-html">&lt;div my-directive directive-function=&quot;outsideFunction(param)&quot;&gt;&lt;/div&gt;
</code></pre>
<h2>Transclusion</h2><h3>Setup</h3><pre><code class="language-js">// directives/customDirective.js
appName.directive(&#39;customTag&#39;, function() {
  return {
    ...
    transclude: true,
  }
})
</code></pre>
<pre><code class="language-html">&lt;!-- directives/customDirective.html --&gt;
&lt;!-- $scope.headline = &quot;Post Headline&quot; --&gt;
&lt;div class=&quot;post&quot;&gt;
  &lt;h1&gt;{{ headline }}&lt;/h1&gt;
  &lt;p&gt;&lt;ng-transclude&gt;&lt;/ng-transclude&gt;&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<h3>Usage</h3><p>Code:</p>
<pre><code class="language-html">&lt;custom-tag&gt;
  Text in custom-tag
&lt;/custom-tag&gt;
</code></pre>
<p>Output:</p>
<pre><code class="language-html">&lt;div class=&quot;post&quot;&gt;
  &lt;h1&gt;Post Headline&lt;/h1&gt;
  &lt;p&gt;Text in custom-tag&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<h1>Filter</h1><pre><code class="language-js">appName.filter(&#39;filterName&#39;, function() {
  return function(collection, someParam) {
    var filteredCollection = [];
    angular.forEach(collection, function(item) {
      if (someTest) {
        filteredCollection.push(item);
      }
    })
    return filteredCollection;
  }
});
</code></pre>
<pre><code class="language-html">{{ collection | filterName : someParam }}
</code></pre>
<h1>Service</h1><p>Modular storage of data &amp; functions, accessible across multiple controllers</p>
<pre><code class="language-js">appName.factory(&#39;serviceName&#39;, function() {
  var exports = {};
  var privateVar = &quot;foo&quot;;
  exports.publicVar = &quot;bar&quot;;
  return exports;
})
</code></pre>
<p>If the service has a dependency, you can inject it like so:</p>
<pre><code class="language-js">appName.factory(&#39;serviceName&#39;, [&#39;dependency1&#39;, function(dependency1) {
  ...
}]);
</code></pre>
<h1>Routing</h1><pre><code class="language-html">&lt;!-- index.html --&gt;
&lt;script src=&quot;http://angular-ui.github.io/ui-router/release/angular-ui-router.js&quot;&gt;&lt;/script&gt;
</code></pre>
<p>Inject <code>ui.router</code> as a dependency in your app and set up routes:</p>
<pre><code class="language-js">// app.js
var appName = angular.module(&#39;appName&#39;, [&#39;ui.router&#39;]);

appName.config(function($stateProvider, $urlRouterProvider) {
  $urlRouterProvider.otherwise(&#39;/route1&#39;);
  $stateProvider
    .state(&#39;basicState&#39;, {
      url: &#39;/route1&#39;,
      templateUrl: &quot;partials/state1.html&quot;,
      controller: &quot;MyCtrl&quot;
    })
    .state(&#39;nestedViews&#39;, {
      url: &#39;/route3&#39;,
      views: {
        &#39;view1&#39;: {
          templateUrl: &#39;templates/view.html&#39;,
          controller: &quot;ViewCtrl&quot;,
        },
        &#39;view2&#39;: {
          template: &quot;&lt;h1&gt;My View&lt;/h1&gt;&quot;,
          controller: [&#39;$scope&#39;, function($scope) {
            $scope.listOfStuff = [&quot;Mary&quot;, &#39;had&#39;, 1, &quot;Little&quot;, &quot;lamb&quot;];
          }]
        }
      }
    })
});
appName.run(function($rootScope){
  $rootScope.$on(&quot;$stateChangeError&quot;, console.warn.bind(console));
});
</code></pre>
<h1>Rails</h1><pre><code class="language-html">&lt;!-- app/views/layouts/application.html.erb --&gt;
&lt;html ng-app=&quot;appName&quot;&gt;

&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js&quot;&gt;&lt;/script&gt;
</code></pre>
<pre><code class="language-js">// app/assets/javascripts/angular/app.js
var appName = angular.module(&#39;appName&#39;, []);

appName.config(
  [&quot;$httpProvider&quot;,
  function($httpProvider) {
    var token = $(&#39;meta[name=csrf-token]&#39;)
      .attr(&#39;content&#39;);
    $httpProvider
      .defaults
      .headers
      .common[&#39;X-CSRF-Token&#39;] = token;
  }]);
</code></pre>
<pre><code class="language-ruby"># routes.rb
root &#39;angular#index&#39;
get &#39;angular/index&#39;
</code></pre>
<pre><code class="language-bash">$ bundle install
$ rails g controller angular index
</code></pre>
<h1>Restangular</h1><p>Download <a href="https://raw.github.com/mgonto/restangular/master/dist/restangular.js">Restangular</a> and <a href="https://raw.githubusercontent.com/lodash/lodash/4.17.4/dist/lodash.core.js">Lodash</a>; save them to vendor/assets/javascripts.</p>
<p>Add to app/assets/javascripts/application.js, under Angular:</p>
<pre><code>//= require lodash.js
//= require restangular.js
</code></pre><p>In your app.js file, add <code>&#39;restangular&#39;</code> to your dependencies on line 1.</p>
<p>Append this to app.js:</p>
<pre><code class="language-js">appName.config( [&#39;RestangularProvider&#39;, function(RestangularProvider) {

  RestangularProvider.setBaseUrl(&#39;/api/v1&#39;);
  RestangularProvider.setRequestSuffix(&#39;.json&#39;);
  RestangularProvider.setDefaultHttpFields({
      &quot;content-type&quot;: &quot;application/json&quot;
  });
}]);
</code></pre>
<p>If the API you&#39;re using requires grunt work, you can set up a responseExtractor to get straight to the data:</p>
<pre><code class="language-js">RestangularProvider.setResponseExtractor( function( response, operation ) {
    // it would have defaulted to response.data but we wanted the first item.
    return response.data[0];
});
</code></pre>
<p>Now, to have Rails serve that data, in your routes.rb:</p>
<pre><code class="language-ruby">scope :api do
  scope :v1 do
    resources :resourceName
  end
end
</code></pre>
<h1>Misc</h1><p>After clicking an element in the inspector, you can inspect its scope in the console with <code>angular.element($0).scope()</code>.</p>
<p>Angular includes <strong>jqLite</strong>, a stripped-down version of jQuery.</p>
<ul>
<li>If you want the full version of jQuery, be sure to include it before you include Angular so Angular knows it&#39;s there.</li>
<li>Do queries with <code>angular.element(&#39;selector&#39;)</code>.</li>
<li>When Angular gives you an element, you can typically run jqLite methods on it.</li>
<li>It&#39;s not conventional to prefix jqLite variables with $, since $ is commonly used for Angular variables.</li>
</ul>
</div>

<script>
jQuery(document).ready(function() {
  if (jQuery(window).height() < jQuery(document).height()) {
    $('#toc').tocify({
      extendPage: false
    });
  }
});
</script>

</body>
