.index-link {
  display: block;
  margin: .5em;
  text-align: center;
}
.main-column > p:first-of-type > strong {
  font-style: italic;
  font-size: 2em;
  color: #f4fef9;
}

.star-me {
  float: right;
}

.tocify {
  margin-top: 1em;
}
.tocify .active {
  background-color: hsl(360, 0%, 92.5%);
}
@media (min-width: 1000px) {
	.main-column {
		margin: 0 1em 0 350px;
		max-width: 60%;
	}
  .tocify {
    max-width: 300px;
  }
}
@media (max-width: 999px) {
	.main-column {
		margin: 0 2%;
	}
	.tocify {
		display: block;
    position: static;
    width: 100%;
    margin-bottom: 1em;
	}
  .tocify-subheader {
    display: none !important;
  }
}
